doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="http://www.facebook.com/2008/fbml", xmlns:mixi="http://mixi-platform.com/ns#")
  head
    title #{title}
    meta(charset="utf-8") 
    meta(name="keywords", content="#{keywords}")
    meta(name="description", content="#{description}")
    
    meta(property="og:title", content="#{title}")
    meta(property="og:url", content="#{url}")
    meta(property="og:description", content="#{description}")
    meta(property="og:image", content="#{url}img/ogp.png")

    link(rel="stylesheet", href="common/css/common.css", type="text/css")
    link(rel="stylesheet", href="css/index.css", type="text/css")
  body
    div#loading
      
    script(src="common/js/lib/jquery.min.js")
    script(src="common/js/lib/TweenMax.min.js")
    script(src="js/index.js")
